files:
    "/etc/cron.d/cron_restart_puma":
        mode: "000644"
        owner: root
        group: root
        content: |
            PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
            * 6 * * * root initctl restart puma

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/cron_restart_puma.bak"